#projects {
    height: auto;
    width: 100vw;
}

#projects .section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10 px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
#projects .section-title span {
    color: var(--main-color);
}
#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
#projects .projects-header h1 {
    margin-bottom: 50px;
}
#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#projects .project-info h1 {
    font-size: 2.5rem;
    font-weight: bold;
    
    
}
#projects .project-info h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(182, 182, 182);
}
#projects .project-info h2 span{
    color: var(--main-color);
}

#projects .project-info p {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(182, 182, 182);
}
#projects .project-img img{
    flex-basis: 50%;
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}